@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

.custom-border-radius {
  position: fixed;
  top: -80vh;
  left: -33vw;
  width: 100vw;
  height: 200vh;
  border-radius: 60%;
}

.body {
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
}